<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <h2>List of users</h2>

        <table>
            <tr>
                <th>userId</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>email</th>
                <th>password</th>
                <th>subscription</th>
            </tr>
            
            <tr th:each="user : ${users}">
                <td th:text="${user.userid}">Id</td>
                <td th:text="${user.firstname}">firstname</td>
                <td th:text="${user.lastname}">lastname</td>
                <td th:text="${user.email}">email</td>
                <td th:text="${user.password}">password</td>
                <td th:text="${user.subscription}">subscription</td>

            </tr>
        </table>

    </body>
</html>