<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Premium Account</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    
    <body>

        <br>
        <h2>YOU ARE LOGGED IN as a PREMIUM USER!</h2>
               <h2>Congrats!</h2>

        <br>
        <h2>TODO : Make log in direct here if user IS a PREMIUM MEMBER.</h2>
            <br><br>
        
       <span class="center">
        <button onclick="location.href = 'http://localhost:8080/'" >Home</button>
        </span>
        <br>
    </body>
</html>